<footer class="footer">
  <small>
    <strong><a href="https://tenor.com/view/bobs-burgers-tina-belcher-dance-dancing-shake-gif-5096483">Zeus Website</a></strong>
    by <em><a href="https://tenor.com/view/bobs-burgers-tina-belcher-dance-dancing-shake-gif-5096483">Ryan Bagley</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>